In [ ]:
# 97
c=1
for i in range(5):
    for j in range(1,i+1):
        print(c,end=" ")
        c+=1
    print()

1
2 3
4 5 6
7 8 9 10

In [ ]:
# 98
for i in range(6):
    for j in range(1,i+1):
        print(j,end=' ')
    print()
print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
# 99
for i in range(6):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [21]:
# 100
for i in range(6):
    for j in range(1,i+1):
        print(j,end=" ")
    print(1)

1
1 1
1 2 1
1 2 3 1
1 2 3 4 1
1 2 3 4 5 1

In [ ]:
# 101
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
# 102
for i in range(1,6):
    for j in range(6-i):
        print(i,end=" ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [32]:
# 103
for i in range(5,0,-1):
    for j in range(5,5-i,-1):
        print(i,end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
# 104
for i in range(5,0,-1):
    for j in range(5,5-i,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [ ]:
# 105
for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(j,end=" ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [ ]:
# 
for i in range(6):
    for j in range(1,i+1)
    print(i,end=" ")
print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
# 106
for i in range(1,6):
    print(i*"  ",end="")
    for j in range(6,i,-1):
        print(i,end=" ")
    print()

  1 1 1 1 1
    2 2 2 2
      3 3 3
        4 4
          5

In [ ]:
# 107
for i in range(1,5):
    print((i-1)*"  ",end=" ")
    for j in range(1,6-i+1):
        print(j,end=" ")
    print()

 1 2 3 4 5
   1 2 3 4
     1 2 3
       1 2

In [ ]:
# 109
for i in range(6):
    print((6-i)*"  ",end=" ")
    for j in range(1,i+1):
        print(j,end=" ")
    print()

           1
         1 2
       1 2 3
     1 2 3 4
   1 2 3 4 5

In [ ]:
# 110
n = 5
for i in range(1, n + 1):
    print((i-1)*"  ",end=" ")
    for j in range(i, n + 1):
        print(j, end=" ")
    print()

 1 2 3 4 5
   2 3 4 5
     3 4 5
       4 5
         5

In [ ]:
# 111
for i in range(0,6):
    for j in range(5,i,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [ ]:
# 112
for i in range(5,0,-1):
    for j in range(i,6):
        print(j,end=" ")
    print()

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [24]:
# 113
for i in range(1,6):
    print((5-i)*"  ",end=" ")
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

         1
       2 1
     3 2 1
   4 3 2 1
 5 4 3 2 1

In [28]:
# 114
for i in range(5,0,-1):
    print((i-1)*"  ",end=" ")
    for j in range(i,6):
        print(j,end=" ")
    print()

         5
       4 5
     3 4 5
   2 3 4 5
 1 2 3 4 5

In [1]:
# 115
for i in range(1,6):
    print((5-i)*"  ",end=" ")
    for j in range(1,i+1):
        print(i,end=" ")
    print()

         1
       2 2
     3 3 3
   4 4 4 4
 5 5 5 5 5

In [4]:
# 116
for i in range(5,0,-1):
    for j in range(i,6):
        print(i,end=" ")
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [18]:
# 117
for i in range(5,0,-1):
    print((i-1)*"  ",end=" ")
    for j in range(i,6):
        print(i,end=" ")
    print()

         5
       4 4
     3 3 3
   2 2 2 2
 1 1 1 1 1

In [20]:
# 118
for i in range(5,0,-1):
    print((5-i)*"  ",end=" ")
    for j in range(i+1,1,-1):
        print(i,end=" ")
    print()

 5 5 5 5 5
   4 4 4 4
     3 3 3
       2 2
         1

In [44]:
# 119
for i in range(1,6):
    print("  "*(5-i),end="  ")
    for j in range(1,i+1):
        print(j,end="   ")
    print()

          1
        1   2
      1   2   3
    1   2   3   4
  1   2   3   4   5